* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;  
}

body {
    min-height: 100%;  
    background: #eee;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #222;
    font-size: 14px;
    line-height: 26px;
    padding-bottom: 50px;
    transition: all 1s cubic-bezier(.25,.8,.25,1);
}

.container {
    max-width: 700px;   
    background: #fff;
    margin: 0px auto 0px; 
    box-shadow: 1.5px 1.5px 3px #b8b8b8;
    border-radius: 3px;  
    padding: 40px;
    margin-top: 50px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.header {
    margin-bottom: 30px;
}

.full-name {
    font-size: 40px;
    width: fit-content;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.first-name {
    font-weight: 700;
}

.last-name {
    font-weight: 300;
}

.photo {
    float: right;
    width: 30%;
    height: 80%;
}

.pic {
    width: 70%;
    margin-left: 30%;
}

.github-info {
    margin-bottom: 20px;
}

.contact-info, 
.github-info {
    float: left;
    width: 70%;
}

.email ,
.phone ,
.github {
    color: #999;
    font-weight: 300;
} 

.separator {
    height: 10px;
    display: inline-block;
    border-left: 2px solid #999;
    margin: 0px 10px;
}

.position {
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
    text-decoration: underline;
}


.details {
line-height: 20px;
}

.section {
    margin-bottom: 40px;  
}

.section__list {
    margin-bottom: 20px;
}

.section:last-of-type {
    margin-bottom: 0px;  
}

.section__title {
    letter-spacing: 2px;
    color: #54AFE4;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.section__list-item {
    margin-bottom: 40px;
}

.section__list-item:last-of-type {
    margin-bottom: 0;
}

.left ,
.right {
    vertical-align: top;
    display: inline-block;
}

.left {
    width: 60%;    
}

.right {
    text-align: right;
    width: 39%;    
}

.name {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #000;
    font-style: italic;
}

a:hover {
    text-decoration: underline;
    color: #000;
}

table {
    background-color: rgba(149, 190, 236, 0.8);
}

table th, table td {
    background-color: #f4fffe;
    width: 100px;
    text-align: center;
}

table td {
    width: 180px;
}

.skill {
    width: 100px;
    height: 50px;
    color: #54AFE4;
}

.skill-extent {
    width: 100px;
    height:  50px;
    color: #54AFE4;
}

.wrapper {
    width: 12%;
    height: 8%;
    position: fixed;
    bottom: 5%;
    right: 0%;
    transform: translate(-50%, -50%);
}

.switch{
    position: relative;
    width: 130px;
    height: 50px;
    margin: 0px;
    appearance: none;
    -webkit-appearance: none;
    background-image: url('https://z3.ax1x.com/2021/09/18/41PEp6.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    box-shadow: inset 0px 0px 2px rgba(255,255,255,.7);
    transition: background-image .7s ease-in-out;
    outline: none;
    cursor: pointer;
    overflow: hidden;
}

.switch:checked {
    background-image: url('https://z3.ax1x.com/2021/09/18/419G5t.png');
    background-size: cover;
    transition: background-image 1s ease-in-out;
}

.switch:after{
    content: '';
    width: 46px;
    height:46px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 2px;
    top: 2px;
    transform: translateX(0px);
    animation: off .7s forwards cubic-bezier(.8, .5, .2, 1.4);
    box-shadow: inset 5px -5px 4px rgba(53, 53, 53, 0.3);
}

@keyframes off{
    0%{
        transform: translateX(80px);
        width: 46px;
    }
    50%{
        width: 75px;  
        border-radius: 25px;   
    }
    100%{
        transform: translateX(0px); 
        width: 46px;
    }
}

.switch:checked:after{
    animation: on .7s forwards cubic-bezier(.8, .5, .2, 1.4);
    box-shadow: inset -5px -5px 4px rgba(53, 53, 53, 0.3);
}

@keyframes on{
    0%{
        transform: translateX(0px);
        width: 46px;
    }
    50%{
        width: 75px;  
        border-radius: 25px;   
    }
    100%{
        transform: translateX(80px); 
        width: 46px;
    }
}

.switch:checked:before{
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: 15px;
    top: 5px;
    transform-origin: 53px 10px;
    background-color: transparent;
    box-shadow: 5px -1px 0px #fff;
    filter: blur(0px);
    animation: sun .7s forwards ease;
}

@keyframes sun{
    0%{
        transform: rotate(170deg);
        background-color: transparent;
        box-shadow: 5px -1px 0px #fff;
        filter: blur(0px);
    }
    50%{
        background-color: transparent;
        box-shadow: 5px -1px 0px #fff;
        filter: blur(0px);
    }
    90%{
        background-color: #f5daaa;
        box-shadow: 0px 0px 10px #f5deb4,
        0px 0px 20px #f5deb4,
        0px 0px 30px #f5deb4,
         inset 0px 0px 2px #efd3a3;
         filter: blur(1px);
    }
    100%{
        transform: rotate(0deg);
        background-color: #f5daaa;
        box-shadow: 0px 0px 10px #f5deb4,
        0px 0px 20px #f5deb4,
        0px 0px 30px #f5deb4,
        inset 0px 0px 2px #efd3a3;
        filter: blur(1px);
    }
}

.switch:before{
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: 15px;
    top: 5px;
    filter: blur(1px);
    background-color: #f5daaa;
    box-shadow: 0px 0px 10px #f5deb4,
    0px 0px 20px #f5deb4,
    0px 0px 30px #f5deb4,
    inset 0px 0px 2px #efd3a3;
    transform-origin: 53px 10px;
    animation: moon .7s forwards ease;
}

@keyframes moon{
    0%{
        transform: rotate(0deg);
        filter: blur(1px);
    }
    50%{
        filter: blur(1px);
    }
    90%{
        background-color: transparent;
        box-shadow: 5px -1px 0px #fff;
        filter: blur(0px);
    
    }
    100%{
        transform: rotate(170deg);
        background-color: transparent;
        box-shadow: 5px -1px 0px #fff;
        filter: blur(0px);
    }
}

#goTop {
    position:fixed;
    z-index:999;
    right:0;
    top:70%;
    transform:translateY(-50%);
    padding:20px;
    color:#fff;
    background:rgba(10, 1, 141, 0.5);
    border:none;
    opacity:0;
    transition: opacity 0.4s linear;
}
#goTop.is-visible {
    opacity:1;
}
#goTop::before {
    content: "Top ↑";
    font-family:'Times New Roman', Times, serif;
    font-size: medium;
}

.message {
    position: fixed;
    width: 20%;
    height: 45%;
    top: 7%;
    left: 2%;
    background-color: rgba(203, 229, 253, 0.562);
    border-radius: 8%;
    overflow: hidden; 
}

.message-title {
    margin-top: 6%;
    margin-left: 5%;
    text-shadow: 2px 1px rgba(136, 185, 241, 0.8);
}

.message-title.night-mode {
    color: rgba(207, 207, 207, 0.7);
    text-shadow: 2px 1px rgba(142, 165, 190, 0.8);
}

.messages{
    background:rgba(241, 254, 255, 0.637);
    display:inline-block;
    padding:13px;
    width:274px;
    height: 65%;
    margin-left: 5%;
    margin-top: 3%;
    border-radius:2px;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    position:relative;
}
.messages.night-mode {
    background: rgba(180, 213, 255, 0.637);
}

.messages span{
    color:#555;
    font-weight:bold;
}
.messages p{
    padding-top:5px;
}

.message-input{
    margin-left: 5%;
    padding:13px 0px;
}

.message-input input{
    border:none;
    padding:10px 12px;
    background:#d3d3d3;
    width:70%;
    border-radius:4px;
}

.message-input a.send{
    text-decoration: none;
    margin-right: 3%;
    padding:6px 15px;
    background:#6294c2;
    border-radius:4px;
    float:right;
    cursor: pointer;
}

.container.night-mode {
    background: #181b23;
    color: white;
}

.section__title.night-mode {
    color: #609abbd2;
}

.details.night-mode {
    color: #c8c8c8;
}

.header.night-mode {
    color: #dfc87ce0;
}

.skill-table.night-mode{
    background-color: #181b23;
}

.skill-table.night-mode th, .skill-table.night-mode td {
    background-color: #263e55;
}

.hyper-link.night-mode {
    color: #acacacd8;
}

body.night-mode {
    background: #292c36;
}

#goTop.night-mode {
    background:rgba(42, 98, 131, 0.733);
}